{% extends "base.html" %}

{% block title %}Treasure Chest | Transaction Detail{% endblock %}

{% block content %}

<p>
{{ transaction.amount }} From {{ transaction.from_acct }} To {{ transaction.to_acct }}
</p>

{% if transaction.description %}
<h2>Description:</h2>

<p>
{{ transaction.description }}
</p>

{% endif %}

<!-- Controls to make a new account -->

<p>
<a href="{% url transaction_update transaction.pk %}" class="btn btn-primary btn-large">
    Update this transaction
</a>
</p>

{% endblock %}
