{% extends "base.html" %}

{% block title %}Treasure Chest | Transaction Detail{% endblock %}

{% block content %}

<h1>Transaction From {{ transaction.from_acct }}</h1>

<p>
<strong>Transfer:</strong> {{ transaction.amount }}
</p>

<p>
<strong>Into Account:</strong> {{ transaction.to_acct }}
</p>

{% if transaction.description %}
<p>
<strong>Description:</strong> {{ transaction.description }}
</p>
{% endif %}

<p>
<strong>Transaction Created:</strong> {{ transaction.created_on }}
</p>

<p>
<strong>Transaction Last Updated:</strong> {{ transaction.updated_on }}
</p>

</p>

<p>
<a href="{% url transaction_update transaction.pk %}" class="btn btn-primary btn-large">
    Update this transaction
</a>
<a href="{% url account_detail transaction.from_acct.pk %}" class="btn btn-primary btn-large">
    Back to account
</a>
</p>

{% endblock %}
