<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-responsive.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
</head>

<body>
    <!-- Site header -->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="{% url index %}">Treasure Chest</a>
                <ul class="nav">
                    <!-- Main navigation elements -->
                    <li {% if section == 'index' %} class="active" {% endif %}>
                        <a href="{% url index %}">Home</a>
                    </li>

                    <li {% if section == 'accounts' %} class="active" {% endif %}>
                        <a href="{% url account_list %}">Accounts</a>
                    </li>

                    <li {% if section == 'groups' %} class="active" {% endif %}>
                        <a href="{% url group_manager %}">Groups</a>
                    </li>

                    <li {% if section == 'help' %} class="active" {% endif %}>
                        <a href="{% url help %}">Help</a>
                    </li>

                    {% if user.is_authenticated %}
                        <li><a href="">{{ user.username }}</a></li>
                        <li><a href="{% url auth_logout %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url registration_register %}">Register</a></li>
                        <li><a href="{% url auth_login %}">Login</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </div>
    <!-- END site header -->

    <div class="container">
    {% block content %}
    {% endblock %}
    </div>
</body>

</html>
