{% extends "base.html" %}
{% load bootstrap %}
{% block title %}Treasure Chest | Group Manager{% endblock %}

{% block content %}

<h1>Group Manager</h1>

<form class="well" method="post">
    {% csrf_token %}
    {{ form|bootstrap }}
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary">Save</button>
	    <a class="btn btn-primary" {% if mode == "update" %} href="{% url group_detail group.pk %}" {% else %} href="{% url group_manager %}" {% endif %}>Cancel</a>
        </div>
    </div>
</form>

{% endblock %}
