{% extends "base.html" %}

{% block title %}Treasure Chest | Account Detail{% endblock %}

{% block content %}

<h1>{{ account.name }}</h1>

<h2>Balance: {{ account.balance }}</h2>

{% if account.description %}
<h2>Description:</h2>

<p>
{{ account.description }}
</p>

{% endif %}

<!-- Transaction list for this account -->
{% if transactions %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>From Account</th>
            <th>To Account</th>
            <th>Amount</th>
            <th>Date Created</th>
            <th>Details</th>
        </tr>
    </thead>

    <tbody>
        {% for transaction in transactions %}
        <tr {% if transaction.to_acct == account and transaction.from_acct != account %} style = "background-color:#33FF66" {% elif transaction.from_acct == account %} style = "background-color:#FF6666" {% endif %}>
            <td>{{ transaction.from_acct }}</td>
            <td>{{ transaction.to_acct }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.created_on }}</td>
            <td>
                <a href="{% url transaction_detail transaction.pk %}">
                    View Details
                </a>
            </td>
        </tr>
	<tr></tr>
        {% endfor %}
    </tbody>

</table>
{% endif %}

<!-- Controls to update account -->

<p>
<a href="{% url transaction_create account.pk %}" class="btn btn-primary btn-large">
    Create transaction
</a>
<a href="{% url account_update account.pk %}" class="btn btn-primary btn-large">
    Update this account
</a>
</p>

{% endblock %}
