{% extends "base.html" %}

{% block title %}Treasure Chest | Accounts{% endblock %}

{% block content %}

<h1>Accounts</h1>

{% if account_list %}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Account Name</th>
            <th>Balance</th>
        </tr>
    </thead>

    <tbody>
        {% for account in account_list %}
        <tr>
            <td>{{ account.name }}</td>
            <td>{{ account.balance }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% else %}

<!-- Page called without any accounts passed through -->

<h3>No accounts found. Why don't you make one?</h3>

{% endif %}

<!-- Controls to make a new account -->

<p>
<a href="{% url account_create %}" class="btn btn-primary btn-large">
    Make new account
</a>
</p>

{% endblock %}
